sentence-transformers
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
gunicorn
-e .
# ipykernel
# pandas
# numpy
# matplotlib
# plotly
# seaborn
# scipy
# scikit-learn
# imblearn
# xgboost
# catboost
# pymongo
# from_root
# evidently==0.2.8
# dill
# PyYAML
# neuro_mf
# boto3
# mypy-boto3-s3
# botocore
# fastapi
# uvicorn
# jinja2
# python-multipart